body{
    text-align: center;
    background-image: linear-gradient(57deg,rgb(21, 8, 8)30%,rgba(255,255,255,1.00)100%);
}
li{
    text-align: left;
}
div{
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 200px;
    left: 600px;

}
.button{
    width: 200px;
    height: 100px;
    background-color: black;
    color: whitesmoke;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
img{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -50;
}
a:link,a:visited{
    color: white;
    text-decoration: none;
}
a:active,a:hover{
    font-size: 18px;
}